body {
    background-color: #edeef7;
}
p {color: #07337a;}
a:link {color: #0b4e6b;}
h1 {color: #b3281e;}
nav {background-color: #bd32d9;}
nav a {
    color: #fcf8ac;
    padding: 10px;
}
nav a:hover {background-color: #7077db;}
nav {margin-bottom: 30px;}


